<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="biz.chamos.povastah.actionSet">
         <menu
               id="povastah"
               label="%menu_group"
               path="tool/povastah">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="biz.chamos.povastah.TranslateAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/povastah/"
               id="povastah">
         </action>
     </actionSet>
   </extension>
</plugin>
